/* Main Payment Page Start */
.navbar {
    margin-bottom: 86px !important;
}

.turning_pro h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    margin-bottom: 47px;
}

.plan_details {
    border-radius: 8px;
    border: 1px solid #444;
    background: #121212;
    padding: 31px 35px;
    margin-bottom: 78px;
}

.plan_details h3 {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    margin-bottom: 16px;
}

.plan_details h4 {
    color: var(--website-grey-1, #CDCDCD);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

.plan_details p {
    font-size: 24px;
    color: var(--website-grey-1, #CDCDCD);
}

.turning_pro h5 {
    color: var(--website-grey-1, #CDCDCD);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.plan_header{
    margin-bottom: 54px;
}

/* Main Payment Page End */

/* Payment Fequently Page Start */
/* .payment {
    padding-top: 53px;
    padding-bottom: 80px;
} */

.payment h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    margin-bottom: 18px;
}

.payment p {
    color: var(--website-grey-1, #CDCDCD);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 26px;
}

.payment button {
    border-radius: 4px;
    background: #111212;
    padding: 10px 16px;
    color: #8A8A8A;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: none;
    margin-bottom: 49px;
}

.off_btn {
    border-radius: 4px;
    border: 1px solid #FFC459 !important;
    margin-left: 30px;
}

.amount h6 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.amount p {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    margin-bottom: 0px;
}

.pay_box {
    border-radius: 8px;
    border: 1px solid #444;
    background: #121212;
    padding: 25px 35px;
    margin-top: 24px;
    margin-bottom: 111px;
}

.pay_box h3 {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.payment h4 {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 18px;
    color: #fff;
}

.payment_option{
    margin-bottom: 83px;
}

label {
    margin-bottom: 31px;
    color: #666;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-left: 20px;
}

.payment_option input {
    accent-color: #14f092;
}

.payment h5 {
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 62px;
}

.payment  img{
    transition: .4s ease-in-out;
}

.payment img:hover{
    transform: scale(1.02);
}

.paypal{
    margin-bottom: 80px;
}

/* Modal Start */

.modal-content {
    border-radius: 8px;
    border: 1px solid #444;
    background: #181818;
}

hr {
    background: #252525;
    margin-top: 18px;
    margin-bottom: 20px;
}

.apple_pay_modal span {
    color: #8A8A8A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-align: right;
}

.apple_pay_modal p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.payable {
    font-size: 20px; 
    margin-top: 19px;
}
/* Modal End */


@media only screen and (max-width: 667px) {

    .turning_pro h2{
        font-size: 32px;
        margin-bottom: 40px;
    }

    .payment {
        padding-top: 79px;
        padding-bottom: 77px;
    }

    .payment h1{
        font-size: 24px;
        margin-bottom: 8px;
    }

    .payment p {
        font-size: 15px;
        margin-bottom: 23px;
    }

    .payment button{
        margin-bottom: 46px;
    }

    .off_btn {
        margin-left: 19px;
    }

    .amount h6 {
        font-size: 20px;;
    }

    .pay_box{
        padding: 11px 10px;
    }

    .pay_box h3{
        font-size: 20px;
    }

    .amount p {
        margin-bottom: 0;
    }

    .pay_box {
        margin-bottom: 96px;
    }

    .payment h4 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    label {
        margin-bottom: 28px;
        font-size: 15px;
    }

    .payment_option {
        margin-bottom: 43px;
    }
    
    .payment h5 {
        font-size: 15px;
        margin-bottom: 21px;
    }

    .payment  img{
        height: 38px;
    }

    .payment label img{
        height: 23px;
    }

    .apple_pay_modal span {
        font-size: 12px;
    }
    
    .apple_pay_modal p {
        font-size: 12px;
    }
    .payable {
        font-size: 15px; 
        margin-top: 9px;
    }
}

/* Payment Fequently Page End */

