@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  /* background-image: url('assets/image/full-bg.png') !important;
  background-repeat: no-repeat !important;
  background-size: contain; */
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: var(--website-grey-7, #070707);
}

.container {
  max-width: 1240px;
}

.zark_front {
  background-image: url(./assets/image/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-bottom: 77px; */
  background-position: center center;
  padding-bottom: 227px;
}

.navbar {
  margin-bottom: 215px;
}

.navbar-nav {
  gap: 30px;
}

/* header css */
.nav-link {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.nav-link:hover {
  color: #FFF;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}


.navbar-toggler-icon {
  background-image: url('./assets/icon/navicon.png');
}


.navbar.expanded {
  background-color: #000; /* Set navbar background color when expanded */
}

.navbar-toggler {
  color: unset !important;
}

.signup_btn {
  padding: 6px 20px 8px 20px;
  border-radius: 8px;
  border: 1px solid #14F092;
  transition: .4s ease-in-out;
}

.signup_btn:hover{
  background: #00cf75;
  border: 1px solid #00cf75;
  
}

.nav-link:focus, .nav-link:hover {
  color: #ededed;
}


/* nav bar mobile Start */

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d3531a;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}


/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  position: absolute !important;
  top: 0px !important;
  transform: rotate(0deg) !important;
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d3531a;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}


/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
  background-color: white;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
  background-color: white;
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
  background: #fff;
}

/* nav bar mobile End */


.pricing {
    background-image: url('../assets/image/pricing.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 171px;
}

header {
    margin-bottom: 543px;
}

.prc_banner h1 {
    color: #FFF;
    font-size: 50px;
    font-weight: 500;
    line-height: normal;
}

.free_pro {
    margin-bottom: 64px;
}

.free_pro .free {
    position: relative;
    margin-bottom: 100px;
}

.free_pro .pro {
    margin-bottom: 49px;
}

.free_pro button {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(#070707, #070707) padding-box,
        linear-gradient(to right, #FFC459, #ED6344) border-box;
    border-radius: 100px;
    border: 1px solid transparent;
    padding: 18px 37px;
}

.free_pro .free img {
    position: absolute;
    right: 0;
    top: 0;
}

.free_pro h2 {
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 29px;
}

.free_pro p {
    color: var(--website-grey-1, #CDCDCD);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.free_pro .options h6 {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.free_pro .options div {
    margin-bottom: 27px;
}

.orange_border {
    position: relative;
}

.orange_border::before {
    position: absolute;
    content: '';
    width: 70%;
    height: 2px;
    background-image: linear-gradient(to left, black, #423C42, #FFC459);
}

.faq {
  padding-top: 111px;
  padding-bottom: 154px;
}
/* faq css */
.faq h1 {
  color: #FFF;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 25px;
}

.faq p {
  color: var(--website-grey-1, #CDCDCD);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 30px;
}

.faq .contact_btn {
  border-radius: 8px;
  background: #FFC459;
  border: none;
  padding: 10px 30px;
  color: var(--website-grey-7, #070707);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.faq_accordion {
  border-radius: 20px;
  background: var(--website-grey-5, #121212);
  padding: 30px;
}

.accordion {
  --bs-accordion-bg: unset !important;
  --bs-accordion-color: var(--website-grey-1, #CDCDCD) !important;
  --bs-accordion-border-color: transparent !important;
}

.accordion-button {
  color: var(--website-white, #FFF);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.accordion-button:not(.collapsed) {
  background-color: unset !important;
  color: var(--website-white, #FFF);
}


.accordion-button::before {
  background-image: url(./assets/icon/plus.png) !important;
}

.accordion-button::before {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-right: 20px !important;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button::after {
  background-image: unset !important;
  display: none;
}

.accordion-button::before {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-right: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button::before {
  background-image: url('./assets/icon/plus.png') !important;
}

.accordion-button:not(.collapsed)::before {
  background-image: url('./assets/icon/Minus.png') !important;
}

.accordion-button:focus {
  border: none;
  box-shadow: none;
}


footer {
  padding-bottom: 50px;
}

footer img {
  margin-bottom: 22px;
}

footer h6 {
  color: var(--website-grey-1, #CDCDCD);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 71px;
}

footer p,
footer a {
  color: var(--website-grey-1, #CDCDCD);
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
}


@media screen and (max-width:767px) {
    .navbar-expand-lg {
    background-color: black !important;
    }

    .navbar {
    margin-bottom: 91px;
    /* background-color: #000; */
    }

    .signup_btn{
        text-align: center;
        background: #14F092;
        transition: .4s ease-in-out;
    }

    .signup_btn:hover{
    background: #0a9458;
    border: 1px solid #0a9458;
    }

    header {
        margin-bottom: 120px;
    }

    .pricing {
        margin-bottom: 52px;
        padding-bottom: 248px;
    }

    .prc_banner h1 {
        font-size: 32px;
    }

    .free_pro .free img {
        position: static;
    }

    footer h6 {
        font-size: 14px;
    }

    footer p,
    footer a {
    font-size: 12px;
    }

}