.pricing {
    background-image: url('../assets/image/pricing.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 171px;
}

header {
    margin-bottom: 543px;
}

.prc_banner h1 {
    color: #FFF;
    font-size: 50px;
    font-weight: 500;
    line-height: normal;
}

.free_pro {
    margin-bottom: 64px;
}

.free_pro .free {
    position: relative;
    margin-bottom: 100px;
}

.free_pro .pro {
    margin-bottom: 49px;
}

.free_pro button {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(#070707, #070707) padding-box,
        linear-gradient(to right, #FFC459, #ED6344) border-box;
    border-radius: 100px;
    border: 1px solid transparent;
    padding: 18px 37px;
}

.free_pro .free img {
    position: absolute;
    right: 0;
    top: 0;
}

.free_pro h2 {
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 29px;
}

.free_pro p {
    color: var(--website-grey-1, #CDCDCD);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.free_pro h6 {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.free_pro .options div {
    margin-bottom: 27px;
}

.orange_border {
    position: relative;
}

.orange_border::before {
    position: absolute;
    content: '';
    width: 70%;
    height: 2px;
    background-image: linear-gradient(to left, black, #423C42, #FFC459);
}

.faq {
    padding-top: 111px;
    padding-bottom: 154px;
}